body {
    background: #666;
}

.container {
    width      : 800px;
    margin     : 0 auto;
    padding-top: 5rem;
}

.card {
    padding      : 1rem;
    background   : #fff;
    box-shadow   : 2px 3px 1px rgba(0, 0, 0, .2);
    border-radius: 5px;
}

.button {
  background-color: #405cf5;
  border-radius   : 6px;
  border-width    : 0;
  box-shadow      : rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing      : border-box;
  color           : #fff;
  cursor          : pointer;
  font-size       : 100%;
  height          : 44px;
  line-height     : 1.15;
  margin          : 12px 0 0;
  padding         : 0 25px;
  position        : relative;
  text-align      : center;
}

.button:active {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

.button.primary {
    background-color: #112ab4;
}

input[type=file] {
    display: none;
}

.preview {
    display  : flex;
    flex-wrap: wrap;
    padding  : 5px;
}

.preview-img {
    position     : relative;
    margin-right : 5rem;
    margin-bottom: 5rem;
    overflow     : hidden;
}

.preview-img img {
    width  : 180px;
    height : auto;
    display: block;
}

.preview-delete {
    width          : 20px;
    height         : 20px;
    position       : absolute;
    right          : 0;
    top            : 0;
    font-weight    : bold;
    background     : rgba(255, 255, 255, .5);
    display        : flex;
    align-items    : center;
    justify-content: center;
    cursor         : pointer;
    opacity        : 0;
    transition     : opacity .22s;
}

.preview-img:hover .preview-delete {
    opacity: 1;
}

.preview-info {
    position       : absolute;
    right          : 0;
    bottom         : -30px;
    left           : 0;
    height         : 25px;
    font-size      : .8rem;
    background     : rgba(255, 255, 255, .5);
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    transition     : bottom .22s;
    padding        : 0 5px;
}


.preview-img:hover .preview-info {
    bottom: 4px;
}

.preview-img.removing {
    transform : scale(0);
    transition: transform .3s;
}